/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2016, 7:29:17 PM
    Author     : Albert
*/
.bordered_pane {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}
.topToolbarButtons {
    -fx-background-color: #ffffff;
    -fx-padding: 1 10 1 10;
    -fx-background-radius: 6, 5;
     -fx-border-color: #000000;
}
.max_pane {
      -fx-background-color:#faaaff;  
}
.max_pane .scroll-bar:vertical .track{
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color:#aaaaff;
    }
.right_control_pane {
        -fx-background-color:#000000;
        -fx-padding: 5 5 5 5;
    }
.grid_pane {
    -fx-vgap: 15;
    -fx-hgap: 20;
        
    }
.scroll_pane > .viewport {
    -fx-background-color:#0000FF;
    
        
    }
.labels {
    -fx-font-size: 25px; 
    -fx-text-fill: white;
    
    }
.text_area {
        -fx-border-color: #000000;
    }
.plus {
        -fx-background-color:#ffffff;
    }
.minus {
        -fx-background-color:#ffffff;
    }
.paneTextAreasCP {
        -fx-background-color: white;
        -fx-border-color: black;
    }
.paneTextAreasCN {
        -fx-background-color: white;
        -fx-border-color: black;
    }
.paneTextAreasV {
        -fx-background-color: white;
        -fx-border-color: black;
    }
.paneTextAreasM {
        -fx-background-color: white;
        -fx-border-color: black;
    }
